<mat-card class="example-card" [@photoState]="position" [@scrollAnimation]="state">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{url}} alt="Photo of a Shiba Inu" id="{{url}}" (load)="getExif()">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
    <mat-card-content *ngIf="detail">
      <app-detail-photo [id]="url"></app-detail-photo>
    </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="accent" (click)="changePosition('enlarge')">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="changePosition('spin')">
      <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="changePosition('move')">
      <mat-icon aria-label="Example icon-button with a heart icon">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="changePosition(null)">
      <mat-icon aria-label="Example icon-button with a heart icon">settings_backup_restore</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>
<dialog-overview-example></dialog-overview-example>
